main {
  .nav-tabs {
    border-bottom: 1px solid #4a4a4a;
    margin-bottom: 25px;
    li {
      padding:0 15px;
      font-size: 13px;
      float: left;
      font-weight: bold;
      @media (max-width: 480px) {
        width: 50%;
        padding: 0 15px 0 0;
      }
      &:first-child {
        padding-left: 0;
      }
      &.active {
        a {
          color: #fff;
          &:after {
            left: 0;
          }
        }
      }
      &.new {
        float: right;
        padding: 0;
        a {
          padding: 9px 0;
        }
        .icon-exclamation {
          font-size: 13px;
          font-weight: bold;
          color: #e01d1d;
          &:hover {
            color: lighten(#e01d1d, 10%);
          }
          &:before {
            content: '';
            float: left;
            margin-right: 6px;
            width: 20px;
            height: 20px;
            background: url(../img/exclamation.svg) center no-repeat;
            background-size: 32px;
          }
        }
      }
      a {
        color: #6e7578;
        padding: 10px 0;
        overflow: hidden;
        position: relative;
        &:after {
          position: absolute;
          left: -100%;
          bottom: 0;
          width: 100%;
          height: 2px;
          content: '';
          @include transition();
          background-color: #e01d1d;
        }
        &:hover, &:focus {
          background: none;
          &:after {
            left: 0;
          }
        }
      }
    }
  }
}
#add-post {
  .nav-tabs {
    margin-bottom: 0;
    li {
      a {
        &:before {
          font-size: 18px;
          margin-right: 8px;
        }
      }
    }
  }
  .tab-content {
    .tab-pane {
      margin: 8px 0 24px;
      @include clearfix;
    }
  }
}
.control-field {
  width: 100%;
  @include transition();
  display: block !important;
  max-height: 0;
  overflow: hidden;
  input[type=text] {
    margin-bottom: 8px;
  }
  input[type=submit] {
    @include transition();
    margin: 0;
  }
  textarea {
    @include transition();
    height: 48px;
    line-height: 48px;
    margin-bottom: 8px;
  }
  &.show {
    max-height: 500px;
  }
  input[type=submit] {
    float: right;
  }
  &.file {
    background: #000;
    position: relative;
    padding: 0 25px;
    height: 48px;
    p {
      position: absolute;
      left: 25px;
      font-size: 18px;
      color: #6e7578;
      line-height: 48px;
      margin: 0;
    }
    .btn {
      position: absolute;
      right: 7px;
      top: 7px;
      background-color: #6e7578;
      cursor: pointer;
      &:hover {
        background-color: #e01c1d;
      }
    }
    input[type=file] {
      opacity: 0;
      position: relative;
      z-index: 9;
    }
  }
  .drag {
    border: 3px dashed #e01d1d;
    text-align: center;
    padding: 23px 0;
    span  {
      font-size: 30px;
      text-align: center;
      color: #fff;
    }
    small {
      font-size: 12px;
      text-align: center;
      color: #ffffff;
      margin-top: 10px;
      display: block;
    }
  }
  &.show {
    input[type=text] {}
    textarea {
      height: 100px;
    }
  }
  &.field {
    input[type=file] {}
  }
  .gallery {
    list-style: none;
    padding: 0;
    margin: 0 0 8px;
    @include clearfix;
    li {
      float: left;
      margin-right: 8px;
      width: 100px;
      line-height: 0;
      height: 100%;
      position: relative;
      img {
        width: 100%;
      }
      a {
        &:not(.add) {
          position: absolute;
          width: 23px;
          height: 23px;
          background-color: #e01d1d;
          bottom: 0;
          right: 0;
          text-align: center;
          &:before {
            font-size: 20px;
            line-height: 23px;
            color: #fff;
            text-align: center;
          }
        }
        &.add {
          border: 3px dashed #e01d1d;
          display: block;
          height: 100px;
          width: 100px;
          text-align: center;
          padding: 20px;
        }
      }

      span {
        font-size: 36px;
        text-align: center;
        color: #fff;
      }
      small {
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        margin-top: 10px;
        display: block;
      }
    }
  }
  .thumbnail {
    float: left;
    width: 100px;
    margin-right: 8px;
    position: relative;
    line-height: 0;
    img {
      width: 100%;
    }
    a {
      position: absolute;
      width: 23px;
      height: 23px;
      background-color: #e01d1d;
      bottom: 0;
      right: 0;
      text-align: center;
      &:before {
        font-size: 20px;
        line-height: 23px;
        color: #fff;
        text-align: center;
      }
    }
  }
  .desc {
    float: left;
    width: calc(100% - 108px);
    input + textarea {
      margin-top: 8px;
    }
  }
}
.badge {
  width: 28px;
  height: 28px;
  background-color: #181818;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  display: block;
  background-position: center;
  background-repeat:no-repeat;
  &.banana {
    background-image: url(../img/banana.png);
  }
  &.banana-double {
    background-image: url(../img/banana-double.png);
  }
  &.banana-triple {
    background-image: url(../img/banana-triple.png);
  }
  &.monkey {
    background-color: #e01c1d;
    background-image: url(../img/monkey.png);
  }
  &.arrow {
    background-image: url(../img/arrow.png);
  }
}
.user-bar {
  background-color: #1f1f1f;
  padding: 13px 7px 13px 15px;
  @include clearfix;
  line-height: 24px;
  .user {
    float: left;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    .name {}
  }
  time {
    float: left;
    font-size: 12px;
    font-weight: 600;
    color: #6e7578;
    position: relative;
    bottom: -2px;
  }
  .counter {
    float: right;
    .count {
      float: left;
      margin-right: 8px;
    }
    strong, p {
      font-size: 14px;
      font-weight: 600;
      color: #6e7578;
      line-height: 24px;
      margin-bottom: 0;
    }
    strong {
      color: #fff;
    }
    .btn {
      width: 24px;
      height: 24px;
      background-color: #6e7578;
      padding: 0;
      line-height: 24px;
      &:hover {
        background-color: darken(#6e7578, 10%);
      }
      &:before {
        line-height: 24px;
        font-size: 15px;
        text-align: center;
        color: #fff;
      }
    }
  }
}
.post {
  margin-bottom: 25px;
  @include clearfix;
  .user {
    width: 50px;
    margin-right: 20px;
    float: left;
    position: relative;
    .badge {
      position: absolute;
      right: -5px;
      bottom: -15px;
    }
    .avatar {
      width: 50px;
      height: 50px;
    }
  }
  .wrapper {
    float: left;
    width: calc(100% - 70px);
    @media (max-width: 600px) {
      width: 100%;
    }
  }
  .content {
    clear: both;
    position: relative;
    padding: 15px 15px 25px;
    background-color: #313131;
    overflow: hidden;
  }
  &:hover {
    > .wrapper {
      >.content {
        .actions {
          bottom: 5px;
        }
      }
    }
  }
  .actions {
    position: absolute;
    bottom: -30px;
    left: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    @include transition();
    @media (max-width: 600px) {
      position: static;
    }
    li {
      float: left;
      line-height: 20px;
      margin-right: 20px;
      a {
        font-size: 12px;
        &:before {
          font-size: 16px;
          margin-right: 8px;
        }
      }
    }
  }
}

.comments {
  padding-top: 20px;
  background-color: #313131;
  .comment-list {
    padding: 0 15px;
    list-style: none;
    margin: 0;
    li {
      > .btn {
        margin: 0 0 20px;
        height: 28px;
        padding: 0 15px;
        border-radius: 5px;
        line-height: 28px;
        background-color: #181818;
        font-size: 12px;
        color: #e01d1d;
        &:hover {
          background-color: #000;
        }
        &:before {
          font-size: 20px;
          margin-right: 6px;
          position: relative;
          top: 2px;
        }
      }
      &:last-child {
        text-align: center;
      }
    }
    .comment {
      @include clearfix;
      .user-bar {
        background: transparent;
        padding: 10px 0 7px;
        .user{
          width: auto;
          font-size: 12px;
          font-weight: 600;
          color: #fff;
          margin-right: 15px;
        }
        time {
          margin: 0;
          line-height: 24px;
          bottom:0;
        }
        .counter {}
      }
      .actions {
        left: 0;
      }
      &:hover {
        .actions {
          bottom: 5px;
        }
      }
      .wrapper {
        width: calc(100% - 45px);
        .content {
          padding: 0 0 35px;
        }
      }
      border-top: 1px solid rgba(#6e7578, .5);
      .avatar {
        width: 30px;
        margin-top: 17px;
        height: 30px;
        margin-right: 15px;
      }
    }
  }
  .btn {}
  .add-new {
    padding: 20px 15px;
    background-color: rgba(#6e7578, .3);
    @include clearfix;
    ::-webkit-input-placeholder {
      font-size: 12px;
    }
    ::-moz-placeholder {
      font-size: 12px;
    }
    :-ms-input-placeholder {
      font-size: 12px;
    }
    :-moz-placeholder {
      font-size: 12px;
    }

    .avatar {
      width: 30px;
      height: 30px;
      float: left;
      margin-right: 10px;
    }
    .control-field {
      float: left;
      position: relative;
      &:before {
        position: absolute;
        left: -1px;
        content: '';
        top: 10px;
        border: 3px solid;
        border-color: transparent #000 transparent transparent;
      }
      width: calc(100% - 45px);
      input {
        height: 30px;
        margin: 0 0 0 5px;
      }
      textarea {
        margin: 0 0 0 5px;
      }
      input[type=submit], .btn {
        line-height: 33px;
        height: 33px;
      }
      .show {
        @include clearfix;
      }
      .drag {
        height: 50px;
        text-align: center;
        padding: 6px 0;
        span {
          font-size: 18px;
          margin-right: 8px;
          position: relative;
          top: 2px;
        }
        small {
          display: inline-block;
          margin: 0;
        }
      }
      .file {
        float: left;
        width: calc(100% - 115px);
        top: 0;
        margin: 8px 0 8px 5px;
        height: 33px;
        background: none;
        line-height: 33px;
        padding: 0;
        overflow: hidden;
        position: relative;
        clear: both;
        &:before {
          display: none;
        }
        @media (max-width: 600px) {
          width: 100%;
          padding-bottom: 80px;
        }
        + input[type=submit] {
          margin-top: 8px;
          float: right;
          @media (max-width: 600px) {
            margin-top: 10px;
          }
        }
        input[type=file] {
          width: calc(100% - 105px);
          float: left;
          opacity: 0;
          position: relative;
          z-index: 9;
          @media (max-width: 600px) {
            width: 100%;
          }
        }
        .btn {
          position: absolute;
          right: 7px;
          background-color: #6e7578;
          cursor: pointer;
          width: 105px;
          left: 0;
          padding: 0;
          top:0;
        }
        p {
          position: absolute;
          left: 25px;
          margin: 0;
          font-size: 12px;
          text-align: left;
          color: #fff;
          text-indent:105px;
          line-height: 33px;
          @media (max-width: 600px) {
            width: 100%;
            white-space: pre;
            text-overflow: ellipsis;
          }
        }
      }
      .gallery {
        float: left;
        position: relative;
        top: 8px;
        left: 5px;
        li {
          width: 50px;
          height: 50px;
        }
        + input {
          margin-top: 20px;
        }
      }
      .drag {
        float: right;
        width: calc(100% - 5px);
        clear: both;
        margin: 0 0 16px;
        top: 8px;
        position: relative;
      }
    }
  }
}
.sign-in {
  margin-bottom: 24px;
  .nav-tabs {
    margin-bottom: 8px;
  }
  .tab-content {
    form {
      @include clearfix;
    }
    input {
      margin-bottom: 8px;
    }
    .btn {
      float: right;
    }
    .fb {
      width: 33px;
      height: 33px;
      background-color: #4267b2;
      display: block;
      margin-left: 5px;
      float: right;
      color: #fff;
      line-height: 33px;
      text-align: center;
      font-size: 26px;
      &:before {
        margin: 0;
      }
    }
  }
}
.user-account {
  margin-bottom: 24px;
  background-color: #313131;
  @include clearfix;
  margin-top: 108px;
  @media (max-width: 480px) {
    margin-top: 0;
  }
  position: relative;
  a {
    font-size: 12px;
    color: #b3d734;
    &:hover {
      color: lighten(#b3d734, 40%);
    }
  }
  .top {
    position: absolute;
    top: -84px;
    width: 100%;
    @media (max-width: 480px) {
      position: static;
      padding: 0 15px;
    }
    .user-info {
      padding-top: 25px;
    }
    .avatar {
      float: left;
      width: 100px;
      height: 100px;
      border: 5px solid #252525;
      margin-right: 5px;
      margin-top: -25px;
      img {}
    }
    h2 {
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      float: left;
      margin-left: 8px;
    }
    .buttons-set {
      width: calc(100% - 105px);
      @include clearfix();
      margin-top: 4px;
      float: left;
      a {
        margin-right: 20px;
        font-size: 12px;
        color: #b3d734;
      }
    }
    .icon-settings {
      font-size: 18px;
      color: #6e7578;
      float: right;
      &:hover {
        color: lighten(#6e7578, 40%);
      }
    }
  }
  .stats {
    border-bottom: 1px solid #4a4a4a;
    width: 100%;
    @include clearfix;
    float: left;
    padding: 15px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        width: 25%;
        font-size: 13px;
        font-weight: bold;
        color: #6e7578;
        float: left;
        &.icon-picture {
          &:before {
            font-size: 14px;
            top: 1px;
          }
        }
        &:before {
          font-size: 18px;
          margin-right: 8px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
  .box {
    padding: 15px 15px 10px;
    @include clearfix;
    width: 100%;
    float: left;
    h4 {
      font-size: 11px;
      font-weight: bold;
      color: #6e7578;
      margin: 0 0 8px;
    }
    ul {
      margin-bottom: 5px;
    }
  }
  .footer {
    @include clearfix;
    width: 100%;
    padding: 8px 15px;
    background-color: #4a4a4a;
    float: left;
    margin-top: 10px;
    a {}
  }
}
.tags {
  list-style: none;
  padding: 0;
  li {
    float: left;
    font-size: 11px;
    margin-right: 15px;
    a {
      color: #fff;
    }
  }
}
.adds {
  border: solid 1px #313131;
  padding: 27px;
  img {
    max-width: 100%;
  }
}