footer {
  background-color: #181818;
  padding: 25px 0;
  .nav {
    float: right;
    padding-right: 10%;
    li {
      font-size: 14px;
      padding: 0 12px;
      line-height: 15px;
      float: left;
      + li {
        border-left: 1px solid #fff;
      }
      a {
        color: #bf3b38;
        padding: 0;
        &:hover {
          background: none;
          color: lighten(#bf3b38, 10%);
        }
      }
    }
  }
}