header {
  background-color: #252525;
  margin-bottom: 40px;
  .navbar {
    padding: 5px 0;
    border: 0;
    height: auto;
    min-height: auto;
    margin: 0;
    .navbar-header {
      @media (max-width: 991px) {
        width: 100%;
      }
    }
    .navbar-toggle {
      @media (max-width: 991px) {
        display: block !important;
        float: right;
        position: absolute;
        z-index: 10;
        top: 6px;
        right: 10px;
        margin: 0 5px;
        overflow: hidden;
      }
      .sr-only {
        display: none;
      }
      .icon-bar {
        width: 30px;
        height: 2px;
        background: #fff;
        @include transition();
        position: relative;
        left: 0;
      }
    }
    .navbar-brand {
      padding: 0;
      height: auto;
      margin: 0 !important;
      @media (max-width: 991px) {
        margin-left: 15px !important;
      }
      img {
        max-height: 33px;
      }
    }
    .fb {
      background: blue;
      margin-left: 15px;
      line-height: 30px;
    }
    #navbar {
      @media (max-width: 991px) {
        position: fixed;
        left: -100%;
        top: 0;
        padding-top: 10%;
        width: 100%;
        z-index: 9;
        background: rgba(#000, .9);
        height: 100% !important;
        @include transition();
        &.in {
          display: block !important;
          left: 15px;
          + .navbar-toggle {
            .icon-bar {
              &:nth-child(2) {
                top: 6px;
                @include vendor-prefix(transform, rotate(45deg));
              }
              &:nth-child(4) {
                top: -6px;
                @include vendor-prefix(transform, rotate(-45deg));
              }
              &:nth-child(3) {
                left: -60px;
              }
            }
          }
        }
      }
      .nav {
        float: right;
        list-style: none;
        padding: 0;
        margin: 0 -15px -5px 0;
        @media (max-width: 991px) {
          width: 100%;
          text-align: center;
          margin: 0;
        }
        li {
          font-size: 15px;
          font-weight: 600;
          margin-left: 35px;
          line-height: 33px;
          @media (max-width: 991px) {
            width: 100%;
            margin-left: 0;
          }
          &.current {
            a {
              &:after {
                left: 0;
              }
            }
          }
          a {
            line-height: 33px;
            overflow: hidden;
            color: #fff;
            padding: 0 0 7px;
            @media (max-width: 991px) {
              display: inline-block;
              font-size: 18px;
              line-height: 40px;
            }
            &:after {
              position: absolute;
              left: -100%;
              bottom: 0;
              width: 100%;
              height: 1px;
              content: '';
              @include transition();
              background-color: #e01d1d;
            }
            &:hover, &:focus {
              background: none;
              &:after {
                left: 0;
              }
            }
          }
        }
      }
    }
    .user {
      margin-right: -15px;
      float: right;
      @media (max-width: 991px) {
        float: none;
        margin: 10px 0 30px;
        text-align: center;
      }
      .btn {
        margin: 0 4px 0 0 ;
      }
    }
  }
  .sub-menu {
    height: 30px;
    background-color: #434343;
    li {
      a {
        line-height: 30px;
      }
    }
  }
}