* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &:focus {
    outline: 0;
  }
}

.container-fluid {
  max-width: 1110px;
}
a, .btn {
  text-decoration: none;
  @include transition();
}
a {
  color: #e01d1d;
  &:hover {
    color: lighten(#bf3b38, 10%);
  }
}
::-webkit-input-placeholder {
  font-size: 18px;
  color: #6e7578;
}
::-moz-placeholder {
  font-size: 18px;
  color: #6e7578;
}
:-ms-input-placeholder {
  font-size: 18px;
  color: #6e7578;
}
:-moz-placeholder {
  font-size: 18px;
  color: #6e7578;
}

input:not([type=submit]), textarea {
  height: 48px;
  background-color: #000000;
  padding: 0 25px;
  width: 100%;
  border: 0;
  float: left;
  color: #fff;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #252525;
}

.btn, input[type=submit] {
  display: inline-block;
  padding: 0 25px;
  text-align: center;
  height: 33px;
  line-height: 33px;
  background-color: #c23d3a;
  font-size: 11px;
  bordeR: 0;
  font-weight: 600;
  color: #fff;
  @include transition();
  &:hover {
    color: #fff;
    background-color: darken(#c23d3a, 20%);
  }
}

p {
  font-size: 12px;
  color: #dddddd;
  margin-bottom: 10px;
  line-height: 17px;
}

.avatar {
  float: left;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  a {
    display: block;
  }
  img {
    width: 100%;
  }
}

main {
  margin-bottom: 75px;
}